<!-- BEGIN PAGE HEADER-->
<h3 class="page-title"> UNIX
    <small>requests related to UNIX systems</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#">Documentation</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">UNIX</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->

<!-- BEGIN FILTER -->
<div class="page-bar">
    <input class="form-control input-lg" ng-model="query" placeholder="Search this list">
</div>

<!-- END FILTER -->

<!-- BEGIN DOC LIST -->
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption font-green-sharp">
            <i class="icon-settings font-green-sharp"></i>
            <span class="caption-subject bold uppercase">Documents</span>
            <span class="caption-helper">search or make a selection below</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">

            <div ng-controller="UNIXController">
                <uib-accordion close-others="oneAtATime">
                    <uib-accordion-group heading="{{doc.name}}" ng-repeat="doc in docs | filter:query | orderBy: 'name'"> {{doc.howto}} </uib-accordion-group>
                </uib-accordion>
            </div>
        </div>
    </div>
</div>
<!-- END DOC LIST -->